$color-primary: #ff6c5f;
$color-primary-light: #ff8175;

$color-secondary: white;
$color-secondary-dark: rgb(240, 240, 240);

$color-background: rgba(0, 0, 0, 0.1);

$color-card: #434343;
$color-card-secondary: #616161;

$color-font-primary: black;
$color-font-primary-light: #7c7c7c;
$color-font-secondary: white;

$color-shadow: rgba(0, 0, 0, 0.2);
