.container {
  z-index: 1;
  margin: -10px auto 0;
  max-width: 826px;
  background-color: #f5f5f5f5;
  padding-top: 16px;
}

.categorycolor-0 {
  color: #ff6633;
  fill: #ff6633;
}

.categorycolor-1 {
  color: #9eff22;
  fill: #9eff22;
}

.categorycolor-2 {
  color: #b7b7ef;
  fill: #b7b7ef;
}

.categorycolor-3 {
  color: #ffc715;
  fill: #ffc715;
}

.categorycolor-4 {
  color: #c5aa67;
  fill: #c5aa67;
}

.categorycolor-5 {
  color: #00f0ff;
  fill: #00f0ff;
}

.categorycolor-6 {
  color: #ffdea1;
  fill: #ffdea1;
}
.categorycolor-7 {
  color: #ff4072;
  fill: #ff4072;
}

.categorycolor-8 {
  color: #faff00;
  fill: #faff00;
}

.categorycolor-9 {
  color: #799dff;
  fill: #799dff;
}
